body {
	display: flex;
	flex-direction : column;
	gap:10px;
}
p {
	margin: 0
}
.number_input {
	display: flex;
	gap: 10px;
	font-size: 1.2rem;
}
.input {
	border-radius: 5px;
	border: 1px solid black;
}

.note {
	color: red;
	font-size: 0.8rem;
}

.submit{
	justify-self: center;
	align-self: center;
	width: fit-content;
	background-color: green;
	color: white;
	padding: 8px 14px;
	border: none;
	border-radius: 7px;
}

.result {
	width: 100%;
	text-align: center;
	font-size: 1.3rem;
}